{%- set projectName = 'infrastructure' %}
{%- set projectDir  = 'infrastructure' %}
{%- set miniappFlag = False %}
{%- set fix_enums = False %}
{%- set rdef_precision = "64" %}

{%- set groups = {'developer': ['check_compilers("fast-debug", publish=True)',
                                'documentation(publish=True)',
                                'build_system',
                                'check_style_graph'],
                  'nightly':   ['check_compilers("full-debug", publish=True)',
                                'documentation(publish=True)',
                                'build_system',
                                'check_style_graph',
                                'publish_commit']} %}

