{#- ######################################################################## #}
{#- MACROS                                                                   #}
{#- ######################################################################## #}

{%- macro publish_commit() %}
  [[[R1/P1/$]]]
     # Repeat once in the final cycle
     graph = """
             publish_node => publish_index
            publish_index      => mirror_results_local
{%-   if MIRROR_UPLOAD_URL %}
            publish_index      => mirror_results_remote
{%-   endif %}
             """

  [[[^/P1]]]
    # Repeat every cycle from the start
    graph = """
            publish_node[-P1] => publish_node
            """
{%- endmacro %}

{#- #########################################################################}
{%- macro check_compilers( build, publish=False ) %}
[[[R1]]]
  graph = """
{%-   for compiler in compiler_setup.keys() %}
{%-     set label = compiler | lower + '_' + build | lower%}
{%-     set perform_run = TARGET_PERFORM_RUN %}
            export_source => compile_{{projectName}}_with_{{label}}
{%-     if publish %}
            compile_{{projectName}}_with_{{label}}:finish => publish_{{label}}_compile
            publish_{{label}}_compile:finish => publish_node
{%-     endif %}
{%-     if compiler in perform_run %}
{%-       if compiler in TARGET_PERFORM_UNIT_TESTS %}
            export_source => unit_test_with_{{label}}
{%-       endif %}
{%-       for mesh in mesh_types %}
            compile_{{projectName}}_with_{{label}} => generate_{{mesh}}_{{label}}
{%-         if compiler in TARGET_PERFORM_KGO_TESTS %}
            generate_{{mesh}}_{{label}} => check_mesh_{{mesh}}_{{label}}
{%-         endif %}
            generate_{{mesh}}_{{label}} => summarise_{{mesh}}_{{label}}
            summarise_{{mesh}}_{{label}} => check_summary_{{mesh}}_{{label}}
{%-       endfor %}
{%-     endif %}
{%-   endfor %}
          """
{%- endmacro %}

{#- #########################################################################}
{%- macro schedule() %}
{%-   for group in groupsToRun %}
{%-     if group in groups.keys() %}
{%-       for mission in groups[group] %}
{{          mission | executeMacro() }}
{%-       endfor %}
{%-     endif %}
{%-   endfor %}
{%- endmacro %}
