{#---------------------------------------------------------------------------#}
{# Sets up jinja2 dictionary with common variables based on a host family    #}
{# This is a reasonably compact solution to remove duplication/complexity    #}
{# from the main suite.rc. It may need to be overhauled at a later date,     #}
{# that is fine as it main purpose was to remove duplication and clean up    #}
{# the suite.rc files.                                                       #}
{%- macro set_hosts_dictionary() %}
{%-   do hosts_dictionary.update({'LOCAL': {'BASE_SETUP':LOCAL_BASE_SETUP,
                                            'BUILD_ROOT':LOCAL_BUILD_ROOT,
                                            'REVEAL_SETUP':LOCAL_REVEAL_SETUP,
                                            'TECHNICAL_SETUP':LOCAL_TECHNICAL_SETUP}}) -%}
{%-   do hosts_dictionary.update({'TARGET':{'BASE_SETUP':TARGET_BASE_SETUP,
                                            'BUILD_ROOT':TARGET_BUILD_ROOT,
                                            'REVEAL_SETUP':TARGET_REVEAL_SETUP,
                                            'TECHNICAL_SETUP':TARGET_TECHNICAL_SETUP}}) -%}
{%- endmacro %}

{# CHECK STYLE MACROS #}
{#---------------------------------------------------------------------------#}
{%- macro check_style_graph() %}
{%-   if 'check_style' in TECHNICAL_DEVELOPER_TESTS %}
    [[[R1]]]
    export_source => check_style
{%-   endif %}
{%- endmacro %}

{%- macro check_style_task( host_family ) %}
{%-   if 'check_style' in scheduledTasks %}
  [[check_style]]
    inherit = TECHNICAL, {{host_family}}
    pre-script = """
                 {{'\n'|command_list( hosts_dictionary[host_family]['BASE_SETUP'],
                                      hosts_dictionary[host_family]['TECHNICAL_SETUP'],
                                      hosts_dictionary[host_family]['REVEAL_SETUP'])}}
                 """
    script = stylist -verbose $SOURCE_DIRECTORY

    [[[environment]]]
      PYTHONPATH = $CYLC_SUITE_SHARE_DIR/source/infrastructure/tools/lib-python:$PYTHONPATH
      PATH = $CYLC_SUITE_SHARE_DIR/source/infrastructure/tools/bin:$PATH
{%-   endif %}
{%- endmacro %}



{# NULL TASK MACROS #}
{#---------------------------------------------------------------------------#}
{%- macro null_task_graph() %}
    [[[R1]]]
      null_task1 => null_task2
{%- endmacro %}

{%- macro null_tasks() %}
  [[null_task1]]
    script = "echo Null Task: No scheduled task in graph, check suite_control.rc"

  [[null_task2]]
    script = "echo Null Task: No scheduled task in graph, check suite_control.rc"
{%- endmacro %}



{# VALIDATE ROSE METADATA MACROS #}
{#---------------------------------------------------------------------------#}
{%- macro validate_rose_meta_graph( projectName ) %}
{%-   if 'validate_metadata' in TECHNICAL_DEVELOPER_TESTS %}
    [[[R1]]]
    export_source => validate_{{projectName}}_rose-meta
{%-   endif %}
{%- endmacro %}

{%- macro validate_rose_meta_task( projectName, host_family ) %}
{%-   if 'validate_' + projectName + '_rose-meta' in scheduledTasks %}
  [[validate_{{projectName}}_rose-meta]]
    inherit = TECHNICAL, {{host_family}}
    script = $SOURCE_ROOT/bin/validate_rose_meta {{projectName}}
{%-   endif %}
{%- endmacro %}



{# DESIGN DOCUMENTATION MACROS #}
{#---------------------------------------------------------------------------#}
{%- macro design_documentation_graph( publish=False ) %}
{%-   if 'documentation' in TECHNICAL_DEVELOPER_TESTS %}
    [[[R1]]]
    export_source => design_documentation
{%-     if publish %}
    design_documentation => publish_design_documentation
    publish_design_documentation:finish => publish_node
{%-     endif %}
{%-   endif %}
{%- endmacro %}

{%- macro design_documentation_task(host_family) %}
{%-   if 'design_documentation' in scheduledTasks %}
  [[design_documentation]]
    inherit = DOCUMENTATION, TECHNICAL, {{host_family}}

    # The sleep is to help mitigate problems with
    # overloaded Lustre filesystems.
    pre-script = """
                 {{'\n                     '|
                   command_list( hosts_dictionary[host_family]['BASE_SETUP'],
                                 hosts_dictionary[host_family]['TECHNICAL_SETUP'],
                                 hosts_dictionary[host_family]['REVEAL_SETUP'],
                                 'mkdir -p $DOCUMENT_DIR',
                                 'sleep 30' )}}
                 """
    script = make -C $SOURCE_DIRECTORY document-latex {{verboseMake()}}

    [[[environment]]]
      DOCUMENT_DIR = $OUTPUT_ROOT/documents/design

    [[[job]]]
      execution retry delays = 2*PT5S, 5*PT10S, 9*PT1M, 5*PT10M, 3*PT1H
{%-   endif %}

{%-   if 'publish_design_documentation' in scheduledTasks %}
  [[publish_design_documentation]]
    inherit = PUBLISH, TECHNICAL, {{host_family}}
    pre-script = """
                 {{ensureDestination()}}
                 sleep 5
                 """

    script = rose task-run --app-key=publish --command-key=directory

    [[[environment]]]
      DIRECTORY = $OUTPUT_ROOT/documents/design
      DESTINATION = {{publish_destination}}/documentation/design/
      FILTERS = --exclude='*' --include='*.pdf'

    [[[job]]]
      execution retry delays = 3*PT5S
{%-   endif %}
{%- endmacro %}



{# API DOCUMENTATION MACROS #}
{#---------------------------------------------------------------------------#}
{%- macro api_documentation_graph( publish=False ) %}
{%-   if 'documentation' in TECHNICAL_DEVELOPER_TESTS %}
    [[[R1]]]
    export_source => api_documentation
{%-     if publish %}
    api_documentation => publish_api_documentation
    publish_api_documentation:finish => publish_node
    api_documentation => publish_api_log
    publish_api_log:finish => publish_node
{%-     endif %}
{%-   endif %}
{%- endmacro %}

{%- macro api_documentation_task(host_family) %}
{%-   if 'api_documentation' in scheduledTasks %}
  [[api_documentation]]
    inherit = DOCUMENTATION, TECHNICAL, {{host_family}}
    pre-script = """
                 {{'\n                     '|
                   command_list( hosts_dictionary[host_family]['BASE_SETUP'],
                                 hosts_dictionary[host_family]['TECHNICAL_SETUP'],
                                 hosts_dictionary[host_family]['REVEAL_SETUP'],
                                 'mkdir -p $DOCUMENT_DIR' )}}
                 """
    script = make -C $SOURCE_DIRECTORY document-api VERBOSE=1
    post-script = """
                  # Future publisher stages need this information
                  RELATIVE_LOG_ROOT=$(echo $CYLC_TASK_LOG_ROOT | sed "s|$HOME/||")
                  echo $RELATIVE_LOG_ROOT > $DOCUMENT_DIR/api.log.path
                  """

    [[[environment]]]
      DOCUMENT_DIR = $OUTPUT_ROOT/documents/api
{%-   endif %}

{%-   if 'publish_api_log' in scheduledTasks %}
  [[publish_api_log]]
    inherit = PUBLISH, TECHNICAL, {{host_family}}
    pre-script = """
                 {{ensureDestination()}}
                 mkdir -p $DESTINATION_DIRECTORY/api
                 cd $DESTINATION_DIRECTORY/api
                 RELATIVE_DESTINATION_DIRECTORY=`echo $DOCUMENT_DIR | sed "s|$HOME/||"`
                 scp {{TARGET_HOST}}:$RELATIVE_DESTINATION_DIRECTORY/api.log.path .
                 scp {{TARGET_HOST}}:$(cat api.log.path).status .
                 scp {{TARGET_HOST}}:$(cat api.log.path).out .
                 scp {{TARGET_HOST}}:$(cat api.log.path).err .
                 """
    script = rose task-run --app-key=publish_doxygen

    [[[environment]]]
      DOCUMENT_DIR = $OUTPUT_ROOT/documents/api
      LOG_STATUS = $DESTINATION_DIRECTORY/api/job.status
      LOG_ERR    = $DESTINATION_DIRECTORY/api/job.err
{%-   endif %}

{%-   if 'publish_api_documentation' in scheduledTasks %}
  [[publish_api_documentation]]
    inherit = PUBLISH, TECHNICAL, {{host_family}}
    pre-script = """
                 {{ensureDestination()}}
                 """
    script = rose task-run --app-key=publish --command-key=directory

    [[[environment]]]
      DIRECTORY   = $OUTPUT_ROOT/documents/api
      DESTINATION = {{publish_destination}}/documentation/api
{%-   endif %}
{%- endmacro %}



{# UML DOCUMENTATION MACROS #}
{#---------------------------------------------------------------------------#}
{%- macro uml_documentation_graph( publish=False ) %}
{%-   if 'documentation' in TECHNICAL_DEVELOPER_TESTS %}
    [[[R1]]]
    export_source => uml_documentation
{%-     if publish %}
    uml_documentation => publish_uml_documentation
    publish_uml_documentation:finish => publish_node
{%-     endif %}
{%-   endif %}
{%- endmacro %}

{%- macro uml_documentation_task(host_family) %}
{%-   if 'uml_documentation' in scheduledTasks %}
  [[uml_documentation]]
    inherit = DOCUMENTATION, TECHNICAL, {{host_family}}
    pre-script = """
                 {{'\n                     '|
                   command_list( hosts_dictionary[host_family]['BASE_SETUP'],
                                 hosts_dictionary[host_family]['TECHNICAL_SETUP'],
                                 hosts_dictionary[host_family]['REVEAL_SETUP'],
                                 'mkdir -p $DOCUMENT_DIR' )}}
                 """
    script = make -C $SOURCE_DIRECTORY document-uml VERBOSE=1

    [[[environment]]]
      DOCUMENT_DIR = $OUTPUT_ROOT/documents/uml
{%-   endif %}

{%-   if 'publish_uml_documentation' in scheduledTasks %}
  [[publish_uml_documentation]]
    inherit = PUBLISH, TECHNICAL, {{host_family}}
    pre-script = """
                 {{ensureDestination()}}
                 """
    script = rose task-run --app-key=publish --command-key=directory

    [[[environment]]]
      DIRECTORY   = $OUTPUT_ROOT/documents/uml
      DESTINATION = {{publish_destination}}/documentation/uml
{%-   endif %}
{%- endmacro %}


{# SCRIPT MACROS #}
{#---------------------------------------------------------------------------#}
{%- macro verboseMake() %}
{%-   if VERBOSE_TASKS is defined %}VERBOSE=1{% endif %}
{%- endmacro %}

{%- macro ensureDestination() %}
    mkdir -p $DESTINATION
{%- endmacro %}

{%- macro deleteDirectory( directory ) %}
  test -w "{{directory}}" -o ! -e "{{directory}}" && rm -rf {{directory}} || ( echo ** Unable to delete "{{directory}}", not writable >&2; false )
{%- endmacro %}

{# PROCESS NODE MACRO #}
{#---------------------------------------------------------------------------#}
{%- macro processnode_task() %}
{%- if 'publish_node' in scheduledTasks %}
    [[PUBLISH]]
    
    [[publish_node]]
        inherit = PUBLISH
        script = true
{%- endif %}
{%- endmacro %}
