#!jinja2
{%- set projectName = 'gravity_wave' %}
{%- set projectDir  = 'gravity_wave' %}
{%- set miniappFlag = True %}
{%- set fix_enums = False %}
{%- set appDiagStemName = 'diagGravityWave' %}
{%- set rdef_precision = "64" %}
{%- set mesh_rdef_precision = "64" %}

{%- set application_configurations = { 'gravity_wave' : ['multigrid_on',
                                                         'multigrid_off',
                                                         'default'] } %}

{%- set canned_configurations  = ['gravity_wave'] %}

{%- set groups = {
'developer': [
    'run_application("gravity_wave", "default", resolutions=[("C24",100.0)],
                     plotstr="slices.py ' + appDiagStemName + ' $NODAL_DATA_DIR buoyancy T000036 150 0 6 $PLOT_DIR")',
    'canned_test("gravity_wave")',
    'check_compilers("gravity_wave", "default", "fast-debug",
                     resolution=("C24",100.0), publish=True)',
    'check_compilers("gravity_wave", "default", "full-debug",
                     resolution=("C24",100.0), publish=True)',
    'godliness(publish=True)',
    'cleanliness'],
'nightly': [
    'cleanliness'] } %}

#########################################################################################
