{# Dictionary of skeleton configurations #}

{% do skeleton_configs.update({

"aquaplanet_N48L38_C48L38" : {
                               "app"                : "skeleton",
                               "opt_config"         : "",
                               "source_grid_res"    : "N48",
                               "source_grid_levs"   : "38",
                               "source_grid_type"   : "global",
                               "target_grid_res"    : "C48",
                               "target_grid_levs"   : "38",
                               "target_grid_type"   : "global",
                               "source_dump"        : "$UMDIR/standard_jobs/um2lfric/inputs/aquaplanet_llama.n48",
                               "lfric_mesh"         : {"file":"$BIG_DATA_DIR/meshes/HEAD/mesh_C48.nc", "name":"dynamics"},
                             },

}) %}
