{# Dictionary of scintelapi configurations #}

{% do scintelapi_configs.update({

"aquaplanet_C48L38_C48L38" : {
                               "app"                : "scintelapi",
                               "opt_config"         : "",
                               "source_grid_res"    : "C48",
                               "source_grid_levs"   : "38",
                               "source_grid_type"   : "global",
                               "target_grid_res"    : "C48",
                               "target_grid_levs"   : "38",
                               "target_grid_type"   : "global",
                               "source_dump"        : "$BIG_DATA_DIR/start_dumps/aquaplanet/Llama/aquaplanet_N48L38_C48L38.nc",
                               "lfric_mesh"         : {"file":"$BIG_DATA_DIR/meshes/HEAD/mesh_C48.nc", "name":"dynamics"},
                             },

}) %}
