{# Dictionary of suite groups #}

{%- do SUITE_GROUPS.update({

"um2lfric-spice-safe-aquaplanet"          : ["um2lfric-spice_gfortran_gcc_safe-aquaplanet_N48L38_C48L38",
                                             "um2lfric-spice_ifort_gcc_safe-aquaplanet_N48L38_C48L38",],
"um2lfric-spice-rigorous-aquaplanet"      : ["um2lfric-spice_gfortran_gcc_rigorous-aquaplanet_N48L38_C48L38",
                                             "um2lfric-spice_ifort_gcc_rigorous-aquaplanet_N48L38_C48L38",],
"um2lfric-spice-aquaplanet"               : ["um2lfric-spice-safe-aquaplanet",
                                             "um2lfric-spice-rigorous-aquaplanet",],

"um2lfric-spice-safe-basicgagl"           : ["um2lfric-spice_gfortran_gcc_safe-basicgagl_N96L38_C12L38",
                                             "um2lfric-spice_ifort_gcc_safe-basicgagl_N96L38_C12L38",],
"um2lfric-spice-rigorous-basicgagl"       : ["um2lfric-spice_gfortran_gcc_rigorous-basicgagl_N96L38_C12L38",
                                             "um2lfric-spice_ifort_gcc_rigorous-basicgagl_N96L38_C12L38",],
"um2lfric-spice-basicgagl"                : ["um2lfric-spice-safe-basicgagl",
                                             "um2lfric-spice-rigorous-basicgagl",],

"um2lfric-spice-safe"                     : ["um2lfric-spice-safe-aquaplanet",
                                             "um2lfric-spice-safe-basicgagl"],
"um2lfric-spice-rigorous"                 : ["um2lfric-spice-rigorous-aquaplanet",
                                             "um2lfric-spice-rigorous-basicgagl"],
"um2lfric-spice"                          : ["um2lfric-spice-safe",
                                             "um2lfric-spice-rigorous",],


"um2lfric-xc40-safe-aquaplanet"           : ["um2lfric-xc40_ifort_icc_safe-aquaplanet_N48L38_C48L38",
                                             "um2lfric-xc40_crayftn_craycc_safe-aquaplanet_N48L38_C48L38",],
"um2lfric-xc40-rigorous-aquaplanet"       : ["um2lfric-xc40_ifort_icc_rigorous-aquaplanet_N48L38_C48L38",
                                             "um2lfric-xc40_crayftn_craycc_rigorous-aquaplanet_N48L38_C48L38",],
"um2lfric-xc40-aquaplanet"                : ["um2lfric-xc40-safe-aquaplanet",
                                             "um2lfric-xc40-rigorous-aquaplanet",],

"um2lfric-xc40-safe-basicgagl"            : ["um2lfric-xc40_ifort_icc_safe-basicgagl_N96L38_C12L38",
                                             "um2lfric-xc40_crayftn_craycc_safe-basicgagl_N96L38_C12L38",],
"um2lfric-xc40-rigorous-basicgagl"        : ["um2lfric-xc40_ifort_icc_rigorous-basicgagl_N96L38_C12L38",
                                             "um2lfric-xc40_crayftn_craycc_rigorous-basicgagl_N96L38_C12L38",],
"um2lfric-xc40-basicgagl"                 : ["um2lfric-xc40-safe-basicgagl",
                                             "um2lfric-xc40-rigorous-basicgagl",],

"um2lfric-xc40-safe"                      : ["um2lfric-xc40-safe-aquaplanet",
                                             "um2lfric-xc40-safe-basicgagl",],
"um2lfric-xc40-rigorous"                  : ["um2lfric-xc40-rigorous-aquaplanet",
                                             "um2lfric-xc40-rigorous-basicgagl",],
"um2lfric-xc40"                           : ["um2lfric-xc40-safe",
                                             "um2lfric-xc40-rigorous",],

"um2lfric-aquaplanet"                     : ["um2lfric-spice-aquaplanet",
                                             "um2lfric-xc40-aquaplanet",],
"um2lfric-basicgagl"                      : ["um2lfric-spice-basicgagl",
                                             "um2lfric-xc40-basicgagl",],

"um2lfric-safe"                           : ["um2lfric-spice-safe",
                                             "um2lfric-xc40-safe",],
"um2lfric-rigorous"                       : ["um2lfric-spice-rigorous",
                                             "um2lfric-xc40-rigorous",],
"um2lfric-developer"                      : ["um2lfric-spice-safe",
                                             "um2lfric-xc40_ifort_icc_safe-aquaplanet_N48L38_C48L38",
                                             "um2lfric-xc40_ifort_icc_safe-basicgagl_N96L38_C12L38",
                                             "um2lfric-spice_gfortran_gcc_rigorous-basicgagl_N96L38_C12L38",],
"um2lfric"                                : ["um2lfric-safe",
                                             "um2lfric-rigorous",],



"lfric2um-spice-safe-aquaplanet"          : ["lfric2um-spice_gfortran_gcc_safe-aquaplanet_C48L38_N48L38",
                                             "lfric2um-spice_ifort_gcc_safe-aquaplanet_C48L38_N48L38"],
"lfric2um-spice-rigorous-aquaplanet"      : ["lfric2um-spice_gfortran_gcc_rigorous-aquaplanet_C48L38_N48L38",
                                             "lfric2um-spice_ifort_gcc_rigorous-aquaplanet_C48L38_N48L38",],
"lfric2um-spice-aquaplanet"               : ["lfric2um-spice-safe-aquaplanet",
                                             "lfric2um-spice-rigorous-aquaplanet",],

"lfric2um-spice-safe"                     : ["lfric2um-spice-safe-aquaplanet",],
"lfric2um-spice-rigorous"                 : ["lfric2um-spice-rigorous-aquaplanet",],
"lfric2um-spice"                          : ["lfric2um-spice-safe",
                                             "lfric2um-spice-rigorous",],

"lfric2um-xc40-safe-aquaplanet"           : ["lfric2um-xc40_ifort_icc_safe-aquaplanet_C48L38_N48L38",
                                             "lfric2um-xc40_crayftn_craycc_safe-aquaplanet_C48L38_N48L38",],
"lfric2um-xc40-rigorous-aquaplanet"       : ["lfric2um-xc40_ifort_icc_rigorous-aquaplanet_C48L38_N48L38",
                                             "lfric2um-xc40_crayftn_craycc_rigorous-aquaplanet_C48L38_N48L38",],
"lfric2um-xc40-aquaplanet"                : ["lfric2um-xc40-safe-aquaplanet",
                                             "lfric2um-xc40-rigorous-aquaplanet",],

"lfric2um-xc40-safe"                      : ["lfric2um-xc40-safe-aquaplanet",],
"lfric2um-xc40-rigorous"                  : ["lfric2um-xc40-rigorous-aquaplanet",],
"lfric2um-xc40"                           : ["lfric2um-xc40-safe",
                                             "lfric2um-xc40-rigorous",],

"lfric2um-aquaplanet"                     : ["lfric2um-spice-aquaplanet",
                                             "lfric2um-xc40-aquaplanet",],

"lfric2um-safe"                           : ["lfric2um-spice-safe",
                                             "lfric2um-xc40-safe",],
"lfric2um-rigorous"                       : ["lfric2um-spice-rigorous",
                                             "lfric2um-xc40-rigorous",],
"lfric2um-developer"                      : ["lfric2um-spice-safe",
                                             "lfric2um-xc40_ifort_icc_safe-aquaplanet_C48L38_N48L38",
                                             "lfric2um-spice_gfortran_gcc_rigorous-aquaplanet_C48L38_N48L38",],
"lfric2um"                                : ["lfric2um-safe",
                                             "lfric2um-rigorous",],



"scintelapi-spice-safe-aquaplanet"        : ["scintelapi-spice_gfortran_gcc_safe-aquaplanet_C48L38_C48L38",
                                             "scintelapi-spice_ifort_gcc_safe-aquaplanet_C48L38_C48L38",],
"scintelapi-spice-rigorous-aquaplanet"    : ["scintelapi-spice_gfortran_gcc_rigorous-aquaplanet_C48L38_C48L38",
                                             "scintelapi-spice_ifort_gcc_rigorous-aquaplanet_C48L38_C48L38",],
"scintelapi-spice-aquaplanet"             : ["scintelapi-spice-safe-aquaplanet",
                                             "scintelapi-spice-rigorous-aquaplanet",],

"scintelapi-spice-safe"                   : ["scintelapi-spice-safe-aquaplanet",],
"scintelapi-spice-rigorous"               : ["scintelapi-spice-rigorous-aquaplanet",],
"scintelapi-spice"                        : ["scintelapi-spice-safe",
                                             "scintelapi-spice-rigorous",],

"scintelapi-xc40-safe-aquaplanet"         : ["scintelapi-xc40_ifort_icc_safe-aquaplanet_C48L38_C48L38",
                                             "scintelapi-xc40_crayftn_craycc_safe-aquaplanet_C48L38_C48L38",],
"scintelapi-xc40-rigorous-aquaplanet"     : ["scintelapi-xc40_ifort_icc_rigorous-aquaplanet_C48L38_C48L38",
                                             "scintelapi-xc40_crayftn_craycc_rigorous-aquaplanet_C48L38_C48L38",],
"scintelapi-xc40-aquaplanet"              : ["scintelapi-xc40-safe-aquaplanet",
                                             "scintelapi-xc40-rigorous-aquaplanet",],

"scintelapi-xc40-safe"                    : ["scintelapi-xc40-safe-aquaplanet",],
"scintelapi-xc40-rigorous"                : ["scintelapi-xc40-rigorous-aquaplanet",],
"scintelapi-xc40"                         : ["scintelapi-xc40-safe",
                                             "scintelapi-xc40-rigorous",],
 
"scintelapi-aquaplanet"                   : ["scintelapi-spice-aquaplanet",
                                             "scintelapi-xc40-aquaplanet",],

"scintelapi-safe"                         : ["scintelapi-spice-safe",
                                             "scintelapi-xc40-safe",],
"scintelapi-rigorous"                     : ["scintelapi-spice-rigorous",
                                             "scintelapi-xc40-rigorous",],
"scintelapi-developer"                    : ["scintelapi-spice-safe",
                                             "scintelapi-xc40_ifort_icc_safe-aquaplanet_C48L38_C48L38",
                                             "scintelapi-spice_gfortran_gcc_rigorous-aquaplanet_C48L38_C48L38",],
"scintelapi"                              : ["scintelapi-spice",
                                             "scintelapi-xc40",],



"skeleton-spice-safe-aquaplanet"          : ["skeleton-spice_gfortran_gcc_safe-aquaplanet_N48L38_C48L38",
                                             "skeleton-spice_ifort_gcc_safe-aquaplanet_N48L38_C48L38",],
"skeleton-spice-rigorous-aquaplanet"      : ["skeleton-spice_gfortran_gcc_rigorous-aquaplanet_N48L38_C48L38",
                                             "skeleton-spice_ifort_gcc_rigorous-aquaplanet_N48L38_C48L38",],
"skeleton-spice-aquaplanet"               : ["skeleton-spice-safe-aquaplanet",
                                             "skeleton-spice-rigorous-aquaplanet",],

"skeleton-spice-safe"                     : ["skeleton-spice-safe-aquaplanet",],
"skeleton-spice-rigorous"                 : ["skeleton-spice-rigorous-aquaplanet",],
"skeleton-spice"                          : ["skeleton-spice-safe",
                                             "skeleton-spice-rigorous",],

"skeleton-xc40-safe-aquaplanet"           : ["skeleton-xc40_ifort_icc_safe-aquaplanet_N48L38_C48L38",
                                             "skeleton-xc40_crayftn_craycc_safe-aquaplanet_N48L38_C48L38",],
"skeleton-xc40-rigorous-aquaplanet"       : ["skeleton-xc40_ifort_icc_rigorous-aquaplanet_N48L38_C48L38",
                                             "skeleton-xc40_crayftn_craycc_rigorous-aquaplanet_N48L38_C48L38",],
"skeleton-xc40-aquaplanet"                : ["skeleton-xc40-safe-aquaplanet",
                                             "skeleton-xc40-rigorous-aquaplanet",],

"skeleton-xc40-safe"                      : ["skeleton-xc40-safe-aquaplanet",],
"skeleton-xc40-rigorous"                  : ["skeleton-xc40-rigorous-aquaplanet",],
"skeleton-xc40"                           : ["skeleton-xc40-safe",
                                             "skeleton-xc40-rigorous",],

"skeleton-aquaplanet"                     : ["skeleton-aquaplanet-spice",
                                             "skeleton-aquaplanet-xc40",],

"skeleton-safe"                           : ["skeleton-spice-safe",
                                             "skeleton-xc40-safe",],
"skeleton-rigorous"                       : ["skeleton-spice-rigorous",
                                             "skeleton-xc40-rigorous",],
"skeleton-developer"                      : ["skeleton-spice-safe",
                                             "skeleton-xc40_ifort_icc_safe-aquaplanet_N48L38_C48L38",
                                             "skeleton-spice_gfortran_gcc_rigorous-aquaplanet_N48L38_C48L38",],
"skeleton"                                : ["skeleton-safe",
                                             "skeleton-rigorous",],

"standard-developer"                      : ["um2lfric-developer",
                                             "lfric2um-developer",
                                             "scintelapi-developer",
                                             "skeleton-developer"],
"standard"                                : ["um2lfric",
                                             "lfric2um",
                                             "scintelapi",
                                             "skeleton"],


"integration-spice-safe"                  : ["integration-spice_gfortran_gcc_safe-um2um",
                                             "integration-spice_ifort_gcc_safe-um2um",
                                             "integration-spice_gfortran_gcc_safe-lfric2lfric",
                                             "integration-spice_ifort_gcc_safe-lfric2lfric",],

"integration-spice-rigorous"              : ["integration-spice_gfortran_gcc_rigorous-um2um",
                                             "integration-spice_ifort_gcc_rigorous-um2um",
                                             "integration-spice_gfortran_gcc_rigorous-lfric2lfric",
                                             "integration-spice_ifort_gcc_rigorous-lfric2lfric",],

"integration-xc40-safe"                   : ["integration-xc40_ifort_icc_safe-um2um",
                                             "integration-xc40_crayftn_craycc_safe-um2um",
                                             "integration-xc40_ifort_icc_safe-lfric2lfric",
                                             "integration-xc40_crayftn_craycc_safe-lfric2lfric",],

"integration-xc40-rigorous"               : ["integration-xc40_ifort_icc_rigorous-um2um",
                                             "integration-xc40_crayftn_craycc_rigorous-um2um",
                                             "integration-xc40_ifort_icc_rigorous-lfric2lfric",
                                             "integration-xc40_crayftn_craycc_rigorous-lfric2lfric",],

"integration-spice"                       : ["integration-spice-safe",
                                             "integration-spice-rigorous",],

"integration-xc40"                        : ["integration-xc40-safe",
                                             "integration-xc40-rigorous",],

"integration"                             : ["integration-spice",
                                             "integration-xc40",],


"all"                    : ["standard",
                            "integration",],

"developer"              : ["standard-developer",
                            "integration-spice-safe",],


"nightly"                : ["standard",
                            "integration",],

"weekly"                 : ["standard",
                            "integration",],

}) %}
