{# Suite config variable definitions #}

{# Set fixed release version the KGO corresponds to #}
{% set BASE = "2020.09.1" %}

{# Set relative KGO directory for each task #}
{% do KGO_DIRS.update({
  "um2lfric-spice_gfortran_gcc_safe-aquaplanet_N48L38_C48L38"                       : BASE~"_t3614",
  "um2lfric-spice_gfortran_gcc_rigorous-aquaplanet_N48L38_C48L38"                   : BASE~"_t3614",
  "um2lfric-spice_ifort_gcc_safe-aquaplanet_N48L38_C48L38"                          : BASE~"_t3614",
  "um2lfric-spice_ifort_gcc_rigorous-aquaplanet_N48L38_C48L38"                      : BASE~"_t3614",

  "um2lfric-spice_gfortran_gcc_safe-aquaplanet_lam"                                 : BASE~"_t3614",
  "um2lfric-spice_gfortran_gcc_rigorous-aquaplanet_lam"                             : BASE~"_t3614",
  "um2lfric-spice_ifort_gcc_safe-aquaplanet_lam"                                    : BASE~"_t3614",
  "um2lfric-spice_ifort_gcc_rigorous-aquaplanet_lam"                                : BASE~"_t3614",

  "um2lfric-spice_gfortran_gcc_safe-falklands_lam"                                  : BASE~"_t3614",
  "um2lfric-spice_gfortran_gcc_rigorous-falklands_lam"                              : BASE~"_t3614",
  "um2lfric-spice_ifort_gcc_safe-falklands_lam"                                     : BASE~"_t3614",
  "um2lfric-spice_ifort_gcc_rigorous-falklands_lam"                                 : BASE~"_t3614",

  "um2lfric-spice_gfortran_gcc_safe-aquaplanet_lbc"                                 : BASE~"_t3614",
  "um2lfric-spice_gfortran_gcc_rigorous-aquaplanet_lbc"                             : BASE~"_t3614",
  "um2lfric-spice_ifort_gcc_safe-aquaplanet_lbc"                                    : BASE~"_t3614",
  "um2lfric-spice_ifort_gcc_rigorous-aquaplanet_lbc"                                : BASE~"_t3614",

  "um2lfric-spice_gfortran_gcc_safe-basicgal_N96L70_C12L70"                         : BASE~"_t3614",
  "um2lfric-spice_gfortran_gcc_rigorous-basicgal_N96L70_C12L70"                     : BASE~"_t3614",
  "um2lfric-spice_ifort_gcc_safe-basicgal_N96L70_C12L70"                            : BASE~"_t3614",
  "um2lfric-spice_ifort_gcc_rigorous-basicgal_N96L70_C12L70"                        : BASE~"_t3614",

  "um2lfric-spice_gfortran_gcc_safe-protogal_N96L70_C12L70"                         : BASE~"_t3614",
  "um2lfric-spice_gfortran_gcc_rigorous-protogal_N96L70_C12L70"                     : BASE~"_t3614",
  "um2lfric-spice_ifort_gcc_safe-protogal_N96L70_C12L70"                            : BASE~"_t3614",
  "um2lfric-spice_ifort_gcc_rigorous-protogal_N96L70_C12L70"                        : BASE~"_t3614",

  "um2lfric-spice_gfortran_gcc_safe-protogal_chem_N96L70_C12L70"                    : BASE~"_t3542",
  "um2lfric-spice_gfortran_gcc_rigorous-protogal_chem_N96L70_C12L70"                : BASE~"_t3542",
  "um2lfric-spice_ifort_gcc_safe-protogal_chem_N96L70_C12L70"                       : BASE~"_t3542",
  "um2lfric-spice_ifort_gcc_rigorous-protogal_chem_N96L70_C12L70"                   : BASE~"_t3542",

  "lfric2um-spice_gfortran_gcc_safe-aquaplanet_C48L38_N48L38"                       : BASE~"_t2337",
  "lfric2um-spice_gfortran_gcc_rigorous-aquaplanet_C48L38_N48L38"                   : BASE~"_t2337",
  "lfric2um-spice_ifort_gcc_safe-aquaplanet_C48L38_N48L38"                          : BASE~"_t2337",
  "lfric2um-spice_ifort_gcc_rigorous-aquaplanet_C48L38_N48L38"                      : BASE~"_t3693",

  "scintelapi-spice_gfortran_gcc_rigorous-basic_C48L38_C48L38"                      : BASE~"_t3787",
  "scintelapi-spice_gfortran_gcc_safe-basic_C48L38_C48L38"                          : BASE~"_t3787",
  "scintelapi-spice_ifort_gcc_rigorous-basic_C48L38_C48L38"                         : BASE~"_t3787",
  "scintelapi-spice_ifort_gcc_safe-basic_C48L38_C48L38"                             : BASE~"_t3787",

  "scintelapi-spice_gfortran_gcc_rigorous-basicgal_C12L70_mixingratio"              : BASE~"_t3614",
  "scintelapi-spice_gfortran_gcc_safe-basicgal_C12L70_mixingratio"                  : BASE~"_t3614",
  "scintelapi-spice_ifort_gcc_rigorous-basicgal_C12L70_mixingratio"                 : BASE~"_t3614",
  "scintelapi-spice_ifort_gcc_safe-basicgal_C12L70_mixingratio"                     : BASE~"_t3614",

  "integration-spice_gfortran_gcc_safe-um2um"                                       : BASE~"_t2337",
  "integration-spice_gfortran_gcc_rigorous-um2um"                                   : BASE~"_t3693",
  "integration-spice_ifort_gcc_safe-um2um"                                          : BASE~"_t2337",
  "integration-spice_ifort_gcc_rigorous-um2um"                                      : BASE~"_t3693",

  "integration-spice_gfortran_gcc_safe-lfric2lfric"                                 : BASE~"_t3614",
  "integration-spice_gfortran_gcc_rigorous-lfric2lfric"                             : BASE~"_t3614",
  "integration-spice_ifort_gcc_safe-lfric2lfric"                                    : BASE~"_t3614",
  "integration-spice_ifort_gcc_rigorous-lfric2lfric"                                : BASE~"_t3614",

  "um2lfric-xc40_crayftn_craycc_safe-aquaplanet_N48L38_C48L38"                      : BASE,
  "um2lfric-xc40_crayftn_craycc_rigorous-aquaplanet_N48L38_C48L38"                  : BASE,
  "um2lfric-xc40_ifort_icc_safe-aquaplanet_N48L38_C48L38"                           : BASE~"_t3613",
  "um2lfric-xc40_ifort_icc_rigorous-aquaplanet_N48L38_C48L38"                       : BASE~"_t3613",

  "um2lfric-xc40_crayftn_craycc_safe-aquaplanet_lam"                                : BASE,
  "um2lfric-xc40_crayftn_craycc_rigorous-aquaplanet_lam"                            : BASE,
  "um2lfric-xc40_ifort_icc_safe-aquaplanet_lam"                                     : BASE~"_t3613",
  "um2lfric-xc40_ifort_icc_rigorous-aquaplanet_lam"                                 : BASE~"_t3613",
  "um2lfric-xc40_ifort_icc_safe-falklands_lam"                                      : BASE~"_t3613",
  "um2lfric-xc40_ifort_icc_rigorous-falklands_lam"                                  : BASE~"_t3613",

  "um2lfric-xc40_crayftn_craycc_safe-aquaplanet_lbc"                                : BASE,
  "um2lfric-xc40_crayftn_craycc_rigorous-aquaplanet_lbc"                            : BASE,
  "um2lfric-xc40_ifort_icc_safe-aquaplanet_lbc"                                     : BASE~"_t3613",
  "um2lfric-xc40_ifort_icc_rigorous-aquaplanet_lbc"                                 : BASE,

  "um2lfric-xc40_crayftn_craycc_safe-basicgal_N96L70_C12L70"                        : BASE,
  "um2lfric-xc40_crayftn_craycc_rigorous-basicgal_N96L70_C12L70"                    : BASE,
  "um2lfric-xc40_ifort_icc_safe-basicgal_N96L70_C12L70"                             : BASE~"_t3613",
  "um2lfric-xc40_ifort_icc_rigorous-basicgal_N96L70_C12L70"                         : BASE~"_t3613",

  "um2lfric-xc40_crayftn_craycc_safe-protogal_N96L70_C12L70"                        : BASE,
  "um2lfric-xc40_crayftn_craycc_rigorous-protogal_N96L70_C12L70"                    : BASE,
  "um2lfric-xc40_ifort_icc_safe-protogal_N96L70_C12L70"                             : BASE~"_t3613",
  "um2lfric-xc40_ifort_icc_rigorous-protogal_N96L70_C12L70"                         : BASE~"_t3613",

  "um2lfric-xc40_ifort_icc_safe-protogal_chem_N96L70_C48L70"                        : BASE~"_t3542",
  "um2lfric-xc40_ifort_icc_rigorous-protogal_chem_N96L70_C48L70"                    : BASE~"_t3542",

  "lfric2um-xc40_crayftn_craycc_safe-aquaplanet_C48L38_N48L38"                      : BASE,
  "lfric2um-xc40_crayftn_craycc_rigorous-aquaplanet_C48L38_N48L38"                  : BASE,
  "lfric2um-xc40_ifort_icc_safe-aquaplanet_C48L38_N48L38"                           : BASE~"_t2337",
  "lfric2um-xc40_ifort_icc_rigorous-aquaplanet_C48L38_N48L38"                       : BASE~"_t3693",

  "scintelapi-xc40_crayftn_craycc_safe-basic_C48L38_C48L38"                         : BASE,
  "scintelapi-xc40_crayftn_craycc_rigorous-basic_C48L38_C48L38"                     : BASE,
  "scintelapi-xc40_ifort_icc_safe-basic_C48L38_C48L38"                              : BASE~"_t3787",
  "scintelapi-xc40_ifort_icc_rigorous-basic_C48L38_C48L38"                          : BASE~"_t3787",

  "scintelapi-xc40_ifort_icc_safe-basicgal_C12L70_mixingratio"                      : BASE~"_t3613",
  "scintelapi-xc40_ifort_icc_rigorous-basicgal_C12L70_mixingratio"                  : BASE~"_t3613",

  "integration-xc40_ifort_icc_safe-um2um"                                           : BASE~"_t3693",
  "integration-xc40_ifort_icc_rigorous-um2um"                                       : BASE~"_t3693",
  "integration-xc40_crayftn_craycc_safe-um2um"                                      : BASE,
  "integration-xc40_crayftn_craycc_rigorous-um2um"                                  : BASE,

  "integration-xc40_ifort_icc_safe-lfric2lfric"                                     : BASE~"_t3613",
  "integration-xc40_ifort_icc_rigorous-lfric2lfric"                                 : BASE~"_t3613",
  "integration-xc40_crayftn_craycc_safe-lfric2lfric"                                : BASE,
  "integration-xc40_crayftn_craycc_rigorous-lfric2lfric"                            : BASE,
}) %}
