#!jinja2
{%- set projectName = 'solver_miniapp' %}
{%- set projectDir  = 'solver_miniapp' %}
{%- set miniappFlag = True %}
{%- set fix_enums = False %}
{%- set appDiagStemName = 'diagSolverApi' %}
{%- set rdef_precision = "64" %}
{%- set mesh_rdef_precision = "64" %}

{%- set application_configurations = { 'solver_miniapp' : ['cg','bicgstab','gmres','jacobi','default'] } %}

{%- set canned_configurations  = ['solver_miniapp'] %}

{%- set groups = {
'developer': [
    'run_application("solver_miniapp", "cg", resolutions=[("C24", 600.0)],
                     run_with_compilers='~TARGET_SOLVER_COMPILER~')',
    'run_application("solver_miniapp", "bicgstab",
                     resolutions=[("C24", 600.0)],
                     run_with_compilers='~TARGET_SOLVER_COMPILER~')',
    'run_application("solver_miniapp", "jacobi",
                     resolutions=[["C24", 600.0]],
                     run_with_compilers='~TARGET_SOLVER_COMPILER~')',
    'run_application("solver_miniapp", "gmres", resolutions=[["C24", 600.0]],
                     run_with_compilers='~TARGET_GMRES_COMPILER~')',
    'godliness',
    'cleanliness'],
'nightly': [
    'cleanliness'] } %}

#########################################################################################

{# Include any local miniapp include files here #}
%include inc/MyMiniappIncludeFile.rc
