{%- set row    = "'row'" %}
{%- set column = "'column'" %}
{%- set auto   = "'auto'" %}
{%- set custom = "'custom'" %}

{%- set projectName = 'lfric_coupled' %}
{%- set projectDir  = 'lfric_coupled' %}
{%- set miniappFlag = True %}

{%- set projectApps = ['lfric_coupled'] %}

{# Default setting to enable xios for all tasks in this suite. Is overrided if #}
{# 'use_xios' ["True"|"False"] is specified in the specific task directives    #}
{%- set default_use_xios = "True" %}

{# Default number of mpi ranks to be used by the xios server if unspecified    #}
{# directly in suite.rc task. Although it is set, it should only have any      #}
{# impact if xios is being used, i.e. if xios_nodes > 0. These aren't the most #}
{# intuitive variable names as they're using the existing naming convention    #}
{# They should be changed at a later date to be something more intuitive.      #}
{%- set default_mpi_parts_xios = 0 %}

{# Set the compiler debug profile for runs in this suite #}
{# Options are ['fast-debug'|'full-debug'|'production'], #}
{# omission defaults to 'fast-debug'                     #}
{%- set run_application_profile = '' %}

{%- set appDiagStemName = 'diagLfricAtm' %}
{%- set rdef_default    = "64" %}
{%- set mesh_rdef       = "64" %}
{%- set mesh_build      = "fast-debug" %}
{# basic-gal demo runs may require up to 36 for RUNAHEAD                  #}
{%- set MAXRUNAHEAD     = 36 %}

{#========================================================================#}
{# MPI partitions & Panel decomposition                                   #}
{#========================================================================#}
{# Directive configuration for your task can be controlled                #}
{# using a dictionary, recognised entries are as follows                  #}
{#                                                                        #}
{# "mpi_parts" : Total number of process ranks for the task. Replaces     #}
{#               $TOTAL_RANKS environment variable in the app             #}
{# "panel_decomp" : Decompositon of partitions PER PANEL,                 #}
{#                  options are [auto|row|column|custom]                  #}
{# "xproc", "yproc" : Number of process ranks in x,y directions,          #}
{#                    only in effect if "panel_decomp":auto               #}
{# "use_xios" : Flag to enable/disable xios, [True|False]                 #}
{# "xios_nodes" : Number of extra nodes to reserve for the xios server    #}
{#                xios is used for IO (enabled if >0),                    #}
{# "mpi_parts_xios": Number of mpi ranks to be used by an xios            #}
{#                   server. If >0 xios is used in server mode.           #}
{#                   Has no effect if xios_nodes <1                       #}
{#                                                                        #}
{# NOTE: To enable xios server mode, valid entries are required for       #}
{#       "use_xios", "xios_nodes" and "mpi_parts_xios"                    #}
{#                                                                        #}
{# Example:  run task entry                                               #}
{#  'run_application(                                                     #}
{#        "gungho", "default", resolutions=[("BiP75x4-4000x2000",10.0)],  #}
{#        env={"nrun":10,                                                 #}
{#             "directives":{"default":{"mpi_parts":4,                    #}
{#                                      "panel_decomp":' + column + ',    #}
{#                                      "xproc":2,                        #}
{#                                      "yproc":2,                        #}
{#                                      "use_xios":"True",                #}
{#                                      "xios_nodes":1,                   #}
{#                                      "mpi_parts_xios":2} } } )'        #}
{#========================================================================#}

{%- set canned_configurations = ['lfric_coupled'] %}

{%- set groups = {
  'developer': [
    'check_style_graph()',
    'unit_tests_graph("intel", "64")',
    'run_application("lfric_coupled", "nwp_gal9",
                     resolutions=[("C48",1800.0)],
                     env={"crun":1, "nrun":24,
                          "directives":{"C48":{"mpi_parts":144,
                                               "use_xios":"True",
                                               "xios_nodes":1,
                                               "mpi_parts_xios":6,
                                               "threads":1,
                                               "wallclock":"0:35:00"},
                                       },
                         },
                     plotstr="plot_map.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR",
                     checkkgo=False
                     )',
   ],
   'nightly'  : ['null_task_graph()']
} %}
