{# Macros used in the rose stem suite.rc #}

{%- set appsToRun = [] %}
{%- set application_configurations= {} %}
{%- set config_map = {} %}
{%- set mesh_choices = {} %}
{%- set resolution_choices = {} %}
{%- set scheduledTasksDict = {} %}
{%- set crunInfo = {'maxcrun': 1} %}
{%- set rdef_build_precisions = [] %}

{# #########################################################################}
{# MACROS                                                                  #}
{# #########################################################################}

{# RUN_APPLICATION                                                         #}
{# Main macro that is called for all apps. the first two arguments are     #}
{# required and give the app name and the configuration to use             #}

{%- macro run_application( appName,
                           configuration,
                           configuration_suffix=None,
                           plotstr=None,
                           resolutions=[('')],
                           precisions=[rdef_default],
                           run_with_compilers=[TARGET_SCIENCE_COMPILER],
                           support_meshes=[''],
                           env={},
                           checkkgo=True,
                           publish=False ) %}
{# Macro agruments                                                         #}
{# precisions: List argment of integer strings, this specify the default   #}
{#             precisions for real numbers (r_def) to build/run this task  #}
{#             e.g. precisions=["32","64"] to run the task with 32-bit and #}
{#             64-bit real numbers                                         #}

{%-   if appName not in appsToRun %}
{%-     do appsToRun.append(appName) %}
{%-   endif %}

{#- What follows is a nasty hack to get round Jinja's eccentric scoping #}
{%-   set label_list = [appName, configuration] %}
{%-   set id_list = [configuration] %}
{%-   if configuration_suffix is none %}
{#-     Do nothing #}
{%-   else %}
{%-     do label_list.append(configuration_suffix) %}
{%-     do id_list.append(configuration_suffix) %}
{%-   endif %}
{%-   set appLabel = label_list|join('_') %}
{%-   set run_id = id_list|join('_') %}
{%-   do config_map.update({run_id: configuration}) %}

{%-   if appName not in application_configurations %}
{%-     do application_configurations.update({appName: []}) %}
{%-   endif %}
{%-   do application_configurations[appName].append(run_id) %}

{%-   set crun = 1 %}
{%-   if env %}
{%-     if 'crun' in env.keys() %}
{%-       set crun = env['crun'] %}
{%-     endif %}
{%-   endif %}
{%-   if crun > crunInfo['maxcrun']  %}
{%-     do crunInfo.update({'maxcrun': crun}) %}
{%-   endif %}

{%-   if appLabel not in resolution_choices.keys() %}
{%-     do resolution_choices.update({appLabel:[]})  -%}
{%-   endif %}
{%-   for res in resolutions %}
{%-     if res not in resolution_choices[appLabel] %}
{%-       do resolution_choices[appLabel].append(res) -%}
{%-     endif %}
{%-   endfor %}

{%-   if appLabel not in mesh_choices.keys() %}
{%-     do mesh_choices.update({appLabel:[]})  -%}
{%-   endif %}
{%-   for res in support_meshes %}
{%-     if res not in mesh_choices[appLabel] %}
{%-       do mesh_choices[appLabel].append(res) -%}
{%-     endif %}
{%-   endfor %}

{%-   for precision in precisions %}
{%-     if precision not in rdef_build_precisions %}
{%-       do rdef_build_precisions.append(precision) -%}
{%-     endif %}
{%-   endfor %}

{%-   if appLabel not in appConfigsCompilerRuns.keys() %}
{%-     do appConfigsCompilerRuns.update({appLabel : run_with_compilers}) %}
{%-   else %}
{%-     set difference = run_with_compilers | reject("in", appConfigsCompilerRuns[appLabel]) %}
{%-     do appConfigsCompilerRuns[appLabel].extend(difference) %}
{%-   endif %}

{%-   if appLabel not in appPrecisionRuns.keys() %}
{%-     do appPrecisionRuns.update({appLabel : precisions} ) %}
{%-   else %}
{%-     do appPrecisionRuns[appLabel].extend(precisions) %}
{%-   endif %}

{%-   if appName not in appPrecisionBuilds.keys() %}
{%-     do appPrecisionBuilds.update({appName : precisions} ) %}
{%-   else %}
{%-     do appPrecisionBuilds[appName].extend(precisions) %}
{%-   endif %}

{%-   set run_application_profile = (run_application_profile | default('fast-debug', true)) %}

{%-   set mesh_label = (TARGET_MESH_COMPILER|lower + '_' +
                        mesh_rdef + '-bit_' +
                        mesh_build) %}

{%-   for compiler in appConfigsCompilerRuns[appLabel] %}
{%-     for precision in appPrecisionRuns[appLabel] %}

{%-       set label = (compiler|lower + '_' + precision + '-bit_' + run_application_profile) %}
{%-       do scheduledTasksDict.update({appLabel~'_'~label: env}) %}
{%-       for resolution in resolutions %}
{%-         set res_value, dt_values, res_label, dt_labels, res_opt = resolution | get_resolution_labels() %}
{%-         for i in range(0,dt_values|length) %}
{%-           set appName_res_label = appLabel ~ res_label ~ dt_labels[i] %}

{%-           if crun > 1 %}
        [[[R{{crun}}/P1/{{crun}}]]]
            graph = """
            run_{{appName_res_label}}_{{label}}[-P1] => run_{{appName_res_label}}_{{label}}
                    """

        [[[R1/P1/{{crun}}]]]
            graph = """
{%-             if checkkgo %}
{%-               if TARGET_SCIENCE_COMPILER in TARGET_PERFORM_KGO_TESTS %}
            run_{{appName_res_label}}_{{label}} => check_{{appName_res_label}}_{{label}}
{%-               endif %}
{%-             endif %}

{%-             if plotstr %}
{%-               do plot_config.update( {appLabel : plotstr} ) %}
            run_{{appName_res_label}}_{{label}} => plot_{{appName_res_label}}_{{label}}
            plot_{{appName_res_label}}_{{label}}:finish => publish_node
{%-               if publish %}
            plot_{{appName_res_label}}_{{label}} => publish_{{appName_res_label}}_{{label}}_plots
            publish_{{appName_res_label}}_{{label}}_plots:finish => publish_node
{%-               endif %}
{%-             endif %}
                    """
{%-           endif %}

        [[[R1]]]
            graph = """
            fcm_make_drivers => fcm_make2_drivers
            fcm_make_ocean => fcm_make2_ocean

            export_source => compile_mesh_tools_with_{{mesh_label}}
            export_source => compile_{{projectName}}_with_{{label}}

             fcm_make2_ocean => run_{{appName_res_label}}_{{label}} 

{%-           if publish %}
            compile_{{projectName}}_with_{{label}}:finish => publish_{{label}}_compile
            publish_{{label}}_compile:finish => publish_node
{%-           endif %}

{%-           if TARGET_SCIENCE_COMPILER in TARGET_PERFORM_RUN %}

{%-             if res_label != '' %}
            compile_mesh_tools_with_{{mesh_label}} => generate_mesh{{res_label}}_{{mesh_label}}
            generate_mesh{{res_label}}_{{mesh_label}} => run_{{appName_res_label}}_{{label}}
{%-             endif %} {#- res_label != '' #}

{%-             if support_meshes != [''] %}
{%-               for mesh_name in support_meshes %}
            compile_mesh_tools_with_{{mesh_label}} => generate_mesh_{{mesh_name|replace('.','p')}}_{{mesh_label}}
            generate_mesh_{{mesh_name|replace('.','p')}}_{{mesh_label}} => run_{{appName_res_label}}_{{label}}
{%-               endfor %}
{%-             endif %} {#- support_meshes != [''] #}

{%-           endif %} {#- TARGET_SCIENCE_COMPILER in TARGET_PERFORM_RUN #}

            compile_{{projectName}}_with_{{label}} => run_{{appName_res_label}}_{{label}}

{%-           if checkkgo and TARGET_SCIENCE_COMPILER in TARGET_PERFORM_RUN %}
{%-             if TARGET_SCIENCE_COMPILER in TARGET_PERFORM_KGO_TESTS and crun < 2 %}
            run_{{appName_res_label}}_{{label}} => check_{{appName_res_label}}_{{label}}
{%-             endif %}
{%-           endif %} {# checkkgo #}

{%-           if plotstr and crun < 2 %}
{%-             do plot_config.update({appLabel : plotstr}) %}
            run_{{appName_res_label}}_{{label}} => plot_{{appName_res_label}}_{{label}}
            plot_{{appName_res_label}}_{{label}}:finish => publish_node
{%-             if publish %}
            plot_{{appName_res_label}}_{{label}} => publish_{{appName_res_label}}_{{label}}_plots
            publish_{{appName_res_label}}_{{label}}_plots:finish => publish_node
{%-             endif %}
{%-           endif %}

{%-           if publish %}
            run_{{appName_res_label}}_{{label}}:finish  => publish_{{appName_res_label}}_{{label}}_run
            publish_{{appName_res_label}}_{{label}}_run:finish => publish_node
{%-           endif %}
                    """
{%-         endfor %}   {# i #}
{%-       endfor %}   {# resolution #}
{%-     endfor %}   {# rdef_precision #}
{%-   endfor %}   {# appConfigsCompilerRuns #}

{%- endmacro %} {# run_application #}


{#- ##########################################################################}
{%- macro run_with_restart_check( appName,
                                  configuration,
                                  number_of_runs,
                                  plotstr=None,
                                  resolutions=[('')],
                                  precisions=[rdef_default],
                                  run_with_compilers=[TARGET_SCIENCE_COMPILER],
                                  support_meshes=[''],
                                  env={},
                                  checkkgo=True,
                                  publish=False ) %}
{#- Run the base science test with any plotting, publishing and KGO checking  #}
{%-   if 'crun' not in env %}
{%-     do env.update({'crun': 1}) %}
{#- There is no absolute reason to limit the base experiment to a single run #}
{#- but it is how we operate currently and reduces complexity for this       #}
{#- initial implementation. In the future we might choose to support the     #}
{#- comparison of two restarted runs with a check that they do not perform   #}
{#- the same number of restarts.                                             #}
{%-   elif env['crun'] > 1 %}
{{ "Base test for a restart check must be a single run." | error }}
{%-   endif %}
{{run_application( appName,
                   configuration,
                   plotstr=plotstr,
                   resolutions=resolutions,
                   precisions=precisions,
                   run_with_compilers=run_with_compilers,
                   support_meshes=support_meshes,
                   env=env,
                   checkkgo=checkkgo,
                   publish=publish )}}
{#- Run the split version without plotting, publishing or KGO checks          #}
{#- We take a copy of env so as not to simply update it.                      #}
{%-   set new_env = dict(env) %}
{%-   do new_env.update({'nrun': env['nrun'] // number_of_runs}) %}
{%-   do new_env.update({'crun': number_of_runs}) %}
{%-   if (env['crun'] * env['nrun']) !=  (new_env['crun'] * new_env['nrun']) %}
{{ ("Interupted run does not cleanly divide into " + configuration) | error }}}
{%-   endif %}
{{run_application( appName,
                   configuration,
                   configuration_suffix='with_restart',
                   plotstr=None,
                   resolutions=resolutions,
                   precisions=precisions,
                   run_with_compilers=run_with_compilers,
                   support_meshes=support_meshes,
                   env=new_env,
                   checkkgo=False,
                   publish=False )}}
{#- Compare the outputs of the two runs                                       #}

{%-   for compiler in run_with_compilers %}
{%-     for precision in precisions %}
{%-       set compiler_label = (compiler|lower + '_'
                                + precision + '-bit_'
                                + run_application_profile|default('fast-debug',
                                                                  true)) %}

{%-       for resolution in resolutions %}
{%-         set res_value, dt_values, res_label, dt_labels, res_opt = resolution | get_resolution_labels() %}
{%-         for i in range(0,dt_values|length) %}
{%-           set base_label = appName ~ '_' ~ configuration %}
{%-           set base_extras = res_label ~ dt_labels[i] %}
        [[[R1/P1/{{new_env['crun']}}]]]
            run_{{base_label}}{{base_extras}}_{{compiler_label}}[1] => compare_{{base_label}}{{base_extras}}_{{compiler_label}}_with_restart
            run_{{base_label}}_with_restart{{base_extras}}_{{compiler_label}} => compare_{{base_label}}{{base_extras}}_{{compiler_label}}_with_restart
{%-         endfor %}
{%-       endfor %}
{%-     endfor %}
{%-   endfor %}

{%- endmacro %}

{#- #########################################################################}
{%- macro canned_test(appName, precisions=[rdef_default]) %}

{%-   if appName not in appPrecisionBuilds.keys() %}
{%-     do appPrecisionBuilds.update({appName : precisions} ) %}
{%-   else %}
{%-     do appPrecisionBuilds[appName].extend(precisions) %}
{%-   endif %}
{%-   if appName and appName not in appsToRun %}
{%-     do appsToRun.append(appName) %}
{%-   endif %}

        [[[R1]]]
{%-   if TARGET_SCIENCE_COMPILER in TARGET_PERFORM_RUN %}
{%-     if appName in appPrecisionBuilds %}
{%-       for precision in precisions %}
{%-         set label = TARGET_SCIENCE_COMPILER | lower + '_'
                      + precision + '-bit_fast-debug' %}
            export_source => compile_{{projectName}}_with_{{label}}
            compile_{{projectName}}_with_{{label}} => run_{{appName}}_canned_test_{{label}}
{%-       endfor %}
{%-     endif %}
{%-   endif %}

{%- endmacro %}



{#- #########################################################################}
{%- macro publish_commit() %}

        [[[R1/P1/$]]]
            # Repeat once in the final cycle
            graph = """
            publish_node  => publish_index
            publish_index => mirror_results_local
{%-   if MIRROR_UPLOAD_URL %}
            publish_index => mirror_results_remote
{%-   endif %}
                    """

        [[[^/P1]]]
            # Repeat every cycle from the start
            graph = """
            publish_node[-P1] => publish_node
                    """

{%- endmacro %}



{#- #########################################################################}
{%- macro schedule() %}

{%-   for group in groupsToRun %}
{%-     if group in groups.keys() %}
{%-       for mission in groups[group] %}
{{          mission | execute_macro() }}
{%-       endfor %}
{%-     endif %}
{%-   endfor %}

{%- endmacro %}



{#- #########################################################################}
{%- macro check_compilers( appName, configuration, build, resolution=(''),
                           precisions=[rdef_default], publish=False ) %}

      [[[R1]]]
{%-   set perform_run = [] %}
{%-   set appLabel = appName + '_' + configuration %}
{%-   set science_key = appName + '_' + configuration + '_' + science_label %}
{%-   set environment = scheduledTasksDict[science_key] %}

{%-   for compiler in compiler_setup.keys() %}
{%-     for precision in precisions %}
{%-       set application_key = appName + '_' + configuration + '_'
                              + compiler + '_' + precision + '-bit_'
                              + build %}
{%-       do scheduledTasksDict.update({application_key: environment}) %}
{%-     endfor %} {# rdef_precision #}
{%-   endfor %}

{%-   if build == 'fast-debug' %}
{%-     do perform_run.extend( TARGET_PERFORM_RUN ) %}
{%-   elif build == 'full-debug' %}
{%-     do perform_run.extend( TARGET_PERFORM_DEBUG_RUN ) %}
{%-   endif %}

{%-   set run_with_compilers = perform_run | reject("==", "none") %}
{%-   if appLabel not in appConfigsCompilerRuns.keys() %}
{%-     do appConfigsCompilerRuns.update({appLabel : run_with_compilers})%}
{%-   else %}
{%-     set difference = run_with_compilers | reject("in", appConfigsCompilerRuns[appLabel]) %}
{%-     do appConfigsCompilerRuns[appLabel].extend(difference) %}
{%-   endif %}

{%-   set mesh_label = (TARGET_MESH_COMPILER|lower + '_' +
                        mesh_rdef + '-bit_' +
                        mesh_build|lower) %}

{%-   for compiler in compiler_setup.keys() %}
{%-     for precision in precisions %}

{%-       set label = (compiler|lower + '_' + precision + '-bit_' + build|lower) %}

{%-       if compiler in TARGET_PERFORM_INTEGRATION_TESTS %}
            export_source => integration_test_with_{{label}}
{%-       endif %}
            export_source => compile_{{projectName}}_with_{{label}}
            export_source => compile_mesh_tools_with_{{mesh_label}}
{%-       if compiler in TARGET_PERFORM_UNIT_TESTS %}
            export_source => unit_test_with_{{label}}
{%-       endif %}
{%-       if publish %}
            compile_{{projectName}}_with_{{label}}:finish => publish_{{label}}_compile
            publish_{{label}}_compile:finish => publish_node
{%-       endif %}

{%-       if compiler in perform_run %}
{%-         set res_value, dt_values, res_label, dt_labels, res_opt = resolution | get_resolution_labels() %}
{%-         for i in range(0, dt_values|length) %}
{%-           set appLabel_res = appLabel ~ res_label ~ dt_labels[i] %}
            compile_mesh_tools_with_{{mesh_label}} => generate_mesh{{res_label}}_{{mesh_label}}
            generate_mesh{{res_label}}_{{mesh_label}} => run_{{appLabel_res}}_{{label}}
            compile_{{projectName}}_with_{{label}} => run_{{appLabel_res}}_{{label}}
{%-           if publish %}
            run_{{appLabel_res}}_{{label}}:finish => publish_{{appLabel_res}}_{{label}}_run
            publish_{{appLabel_res}}_{{label}}_run:finish => publish_node
{%-           endif %}
{%-           if compiler in TARGET_PERFORM_KGO_TESTS %}
            run_{{appLabel_res}}_{{label}} => check_{{appLabel_res}}_{{label}}
{%-           endif %}
{%-         endfor %} {# i #}
{%-       endif %}

{%-     endfor %} {# rdef_precision #}
{%-   endfor %} {# compiler #}

{%- endmacro %}
