#!jinja2
{%- set projectName = 'io_dev' %}
{%- set projectDir  = 'io_dev' %}
{%- set miniappFlag = True %}
{%- set fix_enums = False %}
{%- set appDiagStemName = 'diagIoDev' %}
{%- set rdef_precision = "64" %}
{%- set mesh_rdef_precision = "64" %}

{%- set application_configurations = { 'io_dev' : ['default'] } %}

{%- set canned_configurations  = ['io_dev'] %}

{%- set groups = {
'developer': [
    'run_application("io_dev", "default", resolutions=[("C12",1800)],
                     env={"directives":{"default":{"mpi_parts":6,
                                                   "threads":1,
                                                   "xios_nodes":1,
                                                   "wallclock":"00:05:00"}}},
                     checkkgo=False, publish=True)',
    'check_compilers("io_dev", "default", "fast-debug",
                     resolution=("C12",1800))',
    'check_compilers("io_dev", "default", "full-debug",
                     resolution=("C12",1800))',
    'godliness',
    'cleanliness'],
'nightly': [
    'cleanliness'] } %}

##############################################################################

{# Include any local miniapp include files here #}
%include inc/MyMiniappIncludeFile.rc
